
@mixin overlay($color, $opacity) {
    position: absolute;
    @include position((top: 0, left: 0));
    @include size(100%, 100%);
    background-color: rgba($color, $opacity);
}

@mixin size($color, $opacity) {
    width: 100%;
    height: 100%;
}

@mixin cover($x, $y) {
    background-size: cover;
    background-position: $x $y;
    background-repeat: no-repeat;
}

@mixin position($position: (top: auto, right: auto, bottom: auto, left: auto)) {
    top: map-get($position, top);
    right: map-get($position, right);
    bottom: map-get($position, bottom);
    left: map-get($position, left);
}

@mixin psedo-absolute {
    content: '';
    position: absolute;
    display: block;
}